body {
  background-color: #A8D6D0;
}

/* HEADER */
#title {
  text-align: center;
  font-family: 'Raleway', Helvetica, sans-serif;
}

/* FORM BOARD*/
#form_board {
  background-color: #FAFAFA;
  width: 75%;
  max-width: 1000px;
  margin: 0 auto;
  border-radius: 4px;
  padding-top: 20px; 
}
